.news {
  &__list {
    width: min(900px, 96vw);
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: min(10px, 1vw);
    margin: 0 auto min(30px, 5vw);
    padding: 0;
  }
  &__button {
    border: none;
    border-radius: min(6px, 0.7vw);
    background: linear-gradient(90deg, #000328, #00458e);
    box-shadow: 2px 2px 8px rgba(0, 174, 255, 0.3);
    color: white;
    font-weight: 700;
    padding: 3px 7px;
    transition: $app-transition;
    &:hover {
      transition: $app-transition;
      animation: swing 0.4s ease-in-out infinite alternate-reverse;
      background: linear-gradient(90deg, #e62314, #f19e18);
    }
    @media screen and (max-width: 600px) {
      padding: 1px 3px;
      font-weight: 400;
    }
  }
}

@keyframes swing {
  0% {
    transform: rotate(-3deg) scale(1.02);
  }
  50% {
    transform: rotate(0deg) scale(1.08);
  }
  100% {
    transform: rotate(3deg) scale(1.02);
  }
}
