.cards {
  width: MIN(900px, 80vw);
  height: 100%;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, MINMAX(280px, 1fr));
  gap: 20px;
  flex: 1 1 auto;
}