.footer {
  margin: 0 auto;
  padding: 0;
  width: 90vw;
  height: min(60px, 10vw);
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__text {
    font-size: min(16px, 3vw);
    padding: 0;
    margin: 0,
  }
}
